In [17]:
import pandas as pd

df = pd.read_csv("../data/processed/Sevilla_2015.csv")
#df.head()

                   date  link_id  tt_arr  LOS_arr  tt_dep  LOS_dep
0  01-Jan-2015 00:00:00        5   320.5        1   320.5        1
1  01-Jan-2015 00:00:00        6   301.0        1   301.0        1
2  01-Jan-2015 00:00:00        7   123.0        1   123.0        1
3  01-Jan-2015 00:00:00        8   109.0        1   109.0        1
4  01-Jan-2015 00:00:00        9   275.0        1   275.0        1

In [19]:
df["date"] = pd.to_datetime(df["date"], format='%d-%b-%Y %H:%M:%S')
df = df.set_index("date")

                     link_id  tt_arr  LOS_arr  tt_dep  LOS_dep
date
2015-01-01 00:00:00        5   320.5        1   320.5        1
2015-01-01 00:00:00        6   301.0        1   301.0        1
2015-01-01 00:00:00        7   123.0        1   123.0        1
2015-01-01 00:00:00        8   109.0        1   109.0        1
2015-01-01 00:00:00        9   275.0        1   275.0        1
...                      ...     ...      ...     ...      ...
2015-12-31 23:59:00        6   323.0        1   323.0        1
2015-12-31 23:59:00        7   130.0        1   113.0        1
2015-12-31 23:59:00        8   116.0        1   119.0        1
2015-12-31 23:59:00        9   249.0        1   246.0        1
2015-12-31 23:59:00       10   240.0        1   235.5        1

[3153600 rows x 5 columns]